// Navigation Styles here
header{
    padding-top:10px;
    border-bottom: @border;
    div{
        .page-format();
        .flex(space-between, center);
        padding:10px 0;
        
        nav{
            width:40%;
            .flex(space-around, center);
            a{
                text-decoration: none;
                font-size:1.6rem;
                color: @font-color;
            }
            
        }
    }

}